{% assign product = all_products[bump-support-leggings-black-1] %}

  
<div class="card" style="width: 18rem;">
  <img src="{{ product.featured_image | image_url : width : 400 }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

{% schema %}
  {
    "name": "Custom Variant Product",
    "settings": [],
    "presets":[
        {
          "name" : "Custom Variant Product",
          "category" : "Custom Sections"
        }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}