.product-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.single-value {
    display: flex;
    align-items: center;
}

.single-value input {
    display: none;
}

.single-value input + label {
    border: 1px solid;
    padding: 5px 10px;
    min-width: 70px;
    display: flex;
    justify-content: center;
    cursor:pointer;
}



.single-value input:checked + label {
    border: 2px solid;
}

/* Images thumbs */
/*******************************************/
.product-images-thumbs {
    list-style: none;
    margin: 0;
        gap: 10px;
    padding: 10px;
    cursor: pointer;
}

.card-title a {
    text-decoration: none;
    color: black;
}

.product-images-thumbs li.selected {
    border: 2px solid;
}

.product-images-thumbs li {
    border: 2px solid transparent;
}